html,
body {
  height: 100%;
  margin: 0;
  font-size: 25px;
  background: #181818;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1rem;
}

.app-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header-container {
  flex: 0 1 auto;
  text-align: center;
}

.column-titles {
  display: flex;
  justify-content: space-evenly;
}

.main-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.control-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.1rem 0.2rem;
}

.new-player-input-container {
  display: flex;
  justify-content: space-around;
}

.button {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.control-button {
  color: #505050;
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  border-radius: 10px;
  border: 4px solid #fdfdfd;
  background: #fdfdfd;
}

.score-button {
  font-size: 100%;
  height: 100%;
  width: 8vw;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background: rgb(151, 138, 118);
  align-items: center;
}

.player-row:nth-child(odd) {
  background: rgb(110, 100, 86);
}

.player-row.killer-color {
  background: rgb(255, 67, 67);
}

.player-row.killed-color {
  background: rgb(47, 45, 45);
}

.player-cell {
  flex: 1;
  display: flex;
  justify-content: center;
}

.player-name-cell {
  max-width: 130px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player-cell.score {
  align-items: center;
  justify-content: space-around;
}
